services:
  web-social-scraper:
    build:
      context: .
    ports:
      - '8000:8000'
    volumes:
      - ./facebook:/app/facebook
    env_file:
      - .env
    environment:
      NODE_ENV: production
